.contact-background { 
    background-color: #6AA9A5;
}

.contact-navbar ul { 
    list-style-type: none;
    padding: 10px;
    text-align: right; 
}

.contact-navbar li { 
    display: inline;
}

.contact-navbar a:hover { 
    text-decoration: underline;
}

.contact-navbar a { 
    color: #FAF0E6; 
    text-decoration: none; 
    font-family: Lato; 
    font-size: 20px;
    margin: 10px;
}

.contact-container { 
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    margin-bottom: 75px;
}

.contact-container h1 { 
    font-family: Garamond;
    font-weight:bold;
    color: #FAF0E6;
    font-size: 75px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.contact-container h4 { 
    font-family: Lato;
    font-style: italic;    
    color: #FAF0E6;
    font-size: 15px;
    margin-top: 8px;
}

.contact-container img { 
    height: 450px; 
    width: 500px; 
    border-radius: 10px;
    margin: 20px;
}

.contact-container p { 
    font-family: Lato;
    color: #FAF0E6;
    margin-top: 8px;
    margin: 0px;
    font-size: 18px;
}

.contact-container a { 
    font-family: Lato;
    color: #FAF0E6;
    margin-top: 8px;
}

.contact-content { 
    display: flex;
    flex-direction: row;
    height: 100%;
}

.contact-text { 
    text-align: center;
    height: 450px;
    width: 500px;
}

.contact-text p{ 
    margin-top: 200px;
}


